<%- include("header"); -%>
    <div class="box" id="heading">
        <h1><%= title %></h1>
    </div>
    <div class="box">
        
        <% for(var i=0;i<items.length;i++){ %>
            
            <div class="item">
                <input type="checkbox">
                <p> <%= items[i]%> </p>
            </div>
        <% } %>
        
        
        <form id="formId" class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= title %>>+</button>
        </form>
    </div>
    <script src="script.js"></script>

    
<%- include("footer"); -%>